.container {
  position: fixed;
  bottom: -104px;
  left: var(--side-nav-width);
  background-color: #fff;
  box-shadow: var(--default-shadow);
  height: 209px;
  border-radius: 104.5px;
  width: calc(100% - var(--side-nav-width));
}
.contents {
  height: 104.5px;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  align-items: center;
}
.controls {
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 220px;
  justify-content: space-between;
  margin-right: 180px;
}
.btn {
  margin-right: 100px;
  background-color: var(--primary-black);
  height: 55px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: var(--primary-white);
  cursor: pointer;
}
.drawingTitle {
  max-width: 500px;
  font-weight: 400;
  font-size: 20px;
}

.clearAll {
  cursor: pointer;
}
.backward {
  cursor: pointer;
}
.forward {
  cursor: pointer;
}
