.container {
  width: 220px;
  background-color: white;
  box-shadow: var(--default-shadow);
  height: 570px;
  position: fixed;
  top: calc(50%);
  translate: 0 -40%;
  right: -110px;
  border-radius: 110px;
  padding: 47px;
}
.color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
}
.color:nth-child(1) {
  background: var(--primary-red);
}
.color:nth-child(2) {
  background: var(--primary-green);
}
.color:nth-child(3) {
  background: var(--primary-cyan);
}
.color:nth-child(4) {
  background: var(--primary-blue);
}
.color:nth-child(5) {
  background: var(--primary-yellow);
}
.color:nth-child(6) {
  background: var(--primary-black-drawing);
}

.color.activeColor::after {
  content: "";
  height: 60px;
  width: 60px;

  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.color.activeColor:nth-child(1):after {
  border: 2px solid var(--primary-red);
}
.color.activeColor:nth-child(2):after {
  border: 2px solid var(--primary-green);
}
.color.activeColor:nth-child(3):after {
  border: 2px solid var(--primary-cyan);
}
.color.activeColor:nth-child(4):after {
  border: 2px solid var(--primary-blue);
}
.color.activeColor:nth-child(5):after {
  border: 2px solid var(--primary-yellow);
}
.color.activeColor:nth-child(6):after {
  border: 2px solid var(--primary-black-drawing);
}
